.custom-buttom-descargar {
  background-color: #001a4a !important;
  padding: 40px;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 8px;
}

.cont-buttons-cupon {
  display: flex;
  gap: 10px;
  justify-content: center;
}

@media (max-width: 500px) {
  .cont-buttons-cupon {
    flex-direction: column;
  }
}
