.custom-section-home {
  min-height: 100vh;
  display: flex;
}

.custom-section-home div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.cont-titles-section-home {
  color: #001a4a;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.cont-titles-section-home ul li {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}

.cont-titles-section-home h3 {
  font-size: 1.5rem;
}

.cont-img-home {
  height: 50%;
  object-fit: cover;
}

.cont-img-2 {
  background-color: #001a4a;
  padding: 40px;
  color: white;
  gap: 30px;
}

.cont-img-2 a {
  background-color: #e20717;
  padding: 40px;
  color: white;
  display: block;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 18px;
  transition: opacity 0.3s;
  border-radius: 8px;
}

.cont-img-2 a:hover {
  opacity: 0.9;
}

.custom-cont-img-home img {
  width: 100%;
}

/*Section cupón*/
.custom-section-cupon {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./textura.jpg");
  background-position: center;
  background-size: cover;
}

#cont-text-cupon-diario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  & p {
    text-align: center;
    font-weight: 900;
  }
  & span {
    font-size: 70px;
  }
}

@media (max-width: 480px) {
  .custom-section-home {
    flex-direction: column;
  }

  .custom-section-home div {
    padding: 10px 0;
    gap: 20px;
  }

  .cont-titles-section-home ul {
    padding: 20px;
    text-align: center;
  }
}
