* {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box !important;
}

.input-custom {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.cupon {
  background-color: #ffd700;
  padding: 20px;
  border-radius: 10px;
}
