.custom-hero-background {
  display: grid;
  place-content: center;
  min-height: 100vh;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 480px) {
  .custom-hero-background {
    background-size: contain;
    min-height: 100px;
    padding-top: 250px;
  }
}
