.custom-hero-background {
  background-color: #00205c !important;
  height: 400px;
  display: grid;
  place-content: center;
  min-height: 100vh;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
